.font25 {
  --fontsize: 2.5rem;
  font-size: var(--fontsize)
}

.font26 {
  --fontsize: 2.6rem;
  font-size: var(--fontsize)
}

.font28 {
  --fontsize: 2.8rem;
  font-size: var(--fontsize)
}

.font32 {
  --fontsize: 3.2rem;
  font-size: var(--fontsize)
}

.font36 {
  --fontsize: 3.6rem;
  font-size: var(--fontsize)
}

.font38 {
  --fontsize: 3.8rem;
  font-size: var(--fontsize)
}

.font40 {
  --fontsize: 4.0rem;
  font-size: var(--fontsize)
}

.font45 {
  --fontsize: 4.5rem;
  font-size: var(--fontsize)
}

.font56 {
  --fontsize: 5.6rem;
  font-size: var(--fontsize)
}

.font60 {
  --fontsize: 6.0rem;
  font-size: var(--fontsize)
}

.font64 {
  --fontsize: 6.4rem;
  font-size: var(--fontsize)
}

.font65 {
  --fontsize: 6.5rem;
  font-size: var(--fontsize)
}

.font80 {
  --fontsize: 8.0rem;
  font-size: var(--fontsize)
}

input,
input:focus,
textarea,
textarea:focus,
button,
button:focus,
select {
  border: none;
  outline: none;
  resize: none
}

.swiper-button-prev,
.swiper-button-next {
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  transition: all .4s
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none
}

.swiper-pagination {
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  z-index: 2
}

.swiper-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  background: none;
  margin: 0 !important;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: auto;
  bottom: auto
}

* {
  /* line-height: 1 */
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden
}

html.scrollX,
body.scrollX {
  overflow: hidden
}

.animation {
  transition: all .6s linear
}

.animation.down {
  transform: translateY(-60px)
}

.animation.up {
  transform: translateY(60px)
}

.animation.left {
  transform: translateX(60px)
}

.animation.right {
  transform: translateX(-60px)
}

.animation.opacity {
  opacity: 0
}

.animation.coverTop,
.animation.coverLeft,
.animation.coverRight {
  position: relative
}

.animation.coverTop::before,
.animation.coverLeft::before,
.animation.coverRight::before {
  content: "";
  background: #fff;
  position: absolute;
  transition: all .6s linear;
  width: 100%;
  height: 100%
}

.animation.coverTop::before {
  top: 0;
  left: 0;
  right: 0
}

.animation.coverLeft::before,
.animation.coverRight::before {
  top: 0;
  bottom: 0
}

.animation.coverLeft::before {
  left: 0
}

.animation.coverRight::before {
  right: 0
}

.animation.on.down,
.animation.on.up {
  transform: translateY(0)
}

.animation.on.left,
.animation.on.right {
  transform: translateX(0)
}

.animation.on.opacity {
  opacity: 1
}

.animation.on.coverTop::before,
.animation.on.coverLeft::before,
.animation.on.coverRight::before {
  opacity: 0
}

.animation.on.coverTop::before {
  height: 0
}

.animation.on.coverLeft::before,
.animation.on.coverRight::before {
  width: 0
}

#wrap,
footer {
  width: 100%;
  max-width: 100%;
  font-size: 1.6rem;
  line-height: 1
}

.width1560 {
  width: 100%;
  height: 100%;
  max-width: 1560px;
  margin: 0 auto
}

.width1400 {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto
}

.flexBox {
  display: flex
}

.flexBox.column {
  flex-direction: column
}

.tabContents>div {
  display: none;
}

.tabContents>div.on {
  display: block;
}

.hoverButton {
  display: flex;
  flex-direction: row;
  align-items: center
}

.hoverButton * {
  transition: all .4s
}

.hoverButton .icon {
  width: 60px;
  height: 60px;
  background: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}

.hoverButton .icon i {
  color: #000;
  font-size: 1.5rem
}

.hoverButton p {
  font-size: 1.5rem;
  transform: translateX(-11px)
}

.hoverButton:hover .icon {
  background: #00508e
}

.hoverButton:hover .icon i {
  color: #fff
}

.hoverButton:hover p {
  transform: translateX(12px)
}

.dot3Arrow {
  display: grid;
  grid-template-columns: repeat(2, 3px)
}

.dot3Arrow span {
  display: block;
  background: #fff;
  border-radius: 50%;
  padding: 50% 0
}

.dot3Arrow span:nth-child(1) {
  grid-area: 1/1/1/1
}

.dot3Arrow span:nth-child(2) {
  grid-area: 2/2/2/2
}

.dot3Arrow span:nth-child(3) {
  grid-area: 3/1/3/1
}

.fontBold {
  font-weight: 700
}

.fontBlack {
  font-weight: 900
}

.menuButton {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center
}

header {
  width: 100%;
  height: 90px;
  background: transparent;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
}

header.on {
  background-color: #fff;
}

header.on .headerBox #gnb>li>a {color:#111;font-weight: 500;}

header.on button img {filter:invert();}

header.on .cls-1,
header.on .languageCls-2 { fill: #111 }
header.on .languageCls-1 { stroke: #111 }

header.on .languageBox button {
  color: #111;
}

header .headerBox {
  padding: 0 0 0 80px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center
}

header h1 {
  width: 168px;
  height: 42px
}

header h1 a,
header h1 svg {
  width: 100%;
  height: 100%;
}

header h1 a {
  display: flex;
  align-items: center;
  justify-content: center
}

header nav {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

header nav * {
  height: 100%
}

header nav .depth1>li>a,
header nav .depth2>li>a {
  display: inline-flex;
  align-items: center
}

header nav .depth1 {
  display: flex;
  flex-direction: row;
  align-items: center
}

header nav .depth1>li {
  padding: 0 45px
}

header nav .depth1>li>a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
	white-space: nowrap;
  position: relative;
}

header nav .depth1>li>a::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #F37A01;
  position: absolute;
  left: 50%;
  bottom: -1px;
  z-index: 2;
  transform: translateX(-50%);
  transition: all .4s
}

header nav .depth1>li:hover>a {
  color: #F37A01;
  font-weight: 700
}

header nav .depth1>li:hover>a::before {
  width: calc(100% + 60px)
}

header nav .depth2 {
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center
}

header nav .depth2::before {
  content: "";
  display: block;
  width: 100vw;
  height: 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -2;
  transform: translateX(-50%);
  transition: all .4s
}

header nav .depth2 li {
  padding: 0 35px;
  opacity: 0;
  transform: translateY(20px);
  transition: all .02s
}

header nav .depth2 li a {
  color: #666;
  white-space: nowrap;
  transition: all .4s
}

header nav .depth2 li a i {
  display: flex;
  align-items: center
}

header nav .depth2 li:hover a {
  color: #F37A01
}

header nav .depth2.on {
  height: 70px;
  overflow: inherit
}

header nav .depth2.on::before {
  height: 100%
}

header nav .depth2.on li {
  opacity: 1;
  transform: translateY(0);
  transition: all .4s .2s
}

header .languageBox {
  padding: 0 12px;
  margin: 0 40px 0 auto;
  position: relative
}

header .languageBox button {
  gap: 0 8px;
  color: #fff;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center
}

header .languageBox .icon {
  width: 14px;
  height: 14px
}

header .languageBox ul {
  width: 100%;
  height: 0;
  padding: 40px 0px 7px 34px;
  position: absolute;
  top: -14px;
  left: 0;
  z-index: -2;
  overflow: hidden
}

header .languageBox ul::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -2;
  transform: translateX(-50%);
  transition: all .4s
}

header .languageBox ul li {
  opacity: 0;
  transition: all .02s
}

header .languageBox ul li a {
  display: block;
  color: #999;
  font-size: 13px;
  font-weight: 300;
  padding: 7px 0;
  position: relative;
  transition: all .4s
}

header .languageBox ul li a::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background: #00508e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transform: translateY(-50%);
  transition: all .4s
}

header .languageBox ul li:hover a {
  color: #00508e
}

header .languageBox ul li:hover a::before {
  left: -18px;
  opacity: 1
}

header .languageBox.on .icon .languageCls-1 {
  stroke: #00508e
}

header .languageBox.on .icon .languageCls-2 {
  fill: #00508e
}

header .languageBox.on i {
  opacity: 0
}

header .languageBox.on ul {
  height: auto;
  overflow: inherit
}

header .languageBox.on ul::before {
  height: 100%
}

header .languageBox.on ul li {
  opacity: 1;
  transition: all .4s .28s
}

header .searchButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .menuOpen {
  flex-direction: column;
  gap: 6px 0
}

header .menuOpen span {
  display: block;
  width: 16px;
  height: 2px;
  background: #fff
}

header .menuOpen span:nth-child(1),
header .menuOpen span:nth-child(3) {
  margin-left: 5px
}

header .menuOpen span:nth-child(2) {
  margin-right: 5px
}

header .searchBox {
  width: 100%;
  background: #009de1;
  color: #fff;
  padding: 45px 0;
  display: none
}

header .searchBox .inner {
  gap: 0 40px;
  padding: 0 100px 0 0;
  display: flex;
  align-items: center;
  justify-content: center
}

header .searchBox h4 {
  font-weight: 300;
  letter-spacing: -0.015em;
  line-height: 1.3333
}

header .searchBox h4 b {
  font-weight: 700
}

header .searchBox label {
  width: 500px;
  max-width: 100%;
  background: #15a9e9;
  border-radius: 30px;
  padding: 0 25px
}

header .searchBox label input::-moz-placeholder {
  color: rgba(255, 255, 255, .6);
  font-size: 1.6rem;
  font-weight: 300
}

header .searchBox label input:-ms-input-placeholder {
  color: rgba(255, 255, 255, .6);
  font-size: 1.6rem;
  font-weight: 300
}

header .searchBox label input::placeholder {
  color: rgba(255, 255, 255, .6);
  font-size: 1.6rem;
  font-weight: 300
}

header .searchBox label button {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center
}

.fp-viewing-1 header,
.fp-viewing-2 header,
.fp-viewing-3 header,
.fp-viewing-4 header,
.fp-viewing-5 header,
body.sub header.fix { background-color: #fff; }

.fp-viewing-1 header::before,
.fp-viewing-2 header::before,
.fp-viewing-3 header::before,
.fp-viewing-4 header::before,
.fp-viewing-5 header::before,
.fp-viewing-2 #rightBox::before,
.fp-viewing-3 #rightBox::before,
.fp-viewing-4 #rightBox::before,
.fp-viewing-5 #rightBox::before,
.fp-viewing-2 #fullpage::before,
.fp-viewing-3 #fullpage::before,
.fp-viewing-4 #fullpage::before,
.fp-viewing-5 #fullpage::before,
body.sub header.fix::before { background-color:rgba(0,0,0,0.1); }

.fp-viewing-1 header nav .depth1>li>a,
.fp-viewing-2 header nav .depth1>li>a,
.fp-viewing-3 header nav .depth1>li>a,
.fp-viewing-4 header nav .depth1>li>a,
.fp-viewing-5 header nav .depth1>li>a,
body.sub header.fix nav .depth1>li>a{ color:#333; }

.fp-viewing-1 .headerBox #gnb>li>a,
.fp-viewing-2 .headerBox #gnb>li>a,
.fp-viewing-3 .headerBox #gnb>li>a,
.fp-viewing-4 .headerBox #gnb>li>a,
.fp-viewing-5 .headerBox #gnb>li>a {color:#111;font-weight: 500;}

.fp-viewing-1 button img,
.fp-viewing-2 button img,
.fp-viewing-3 button img,
.fp-viewing-4 button img,
.fp-viewing-5 button img {filter:invert();}

.fp-viewing-1 .cls-1,
.fp-viewing-2 .cls-1,
.fp-viewing-3 .cls-1,
.fp-viewing-4 .cls-1,
.fp-viewing-5 .cls-1,
.fp-viewing-1 .languageCls-2,
.fp-viewing-2 .languageCls-2,
.fp-viewing-3 .languageCls-2,
.fp-viewing-4 .languageCls-2,
.fp-viewing-5 .languageCls-2 { fill: #111 }

.fp-viewing-1 .languageCls-1,
.fp-viewing-2 .languageCls-1,
.fp-viewing-3 .languageCls-1,
.fp-viewing-4 .languageCls-1,
.fp-viewing-5 .languageCls-1 { stroke: #111 }

.fp-viewing-1 .languageBox button,
.fp-viewing-2 .languageBox button,
.fp-viewing-3 .languageBox button,
.fp-viewing-4 .languageBox button,
.fp-viewing-5 .languageBox button {
  color: #111;
}

.allMenu {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  overflow-y: scroll;
  display: none
}

.allMenu * {
  font-family: "Pretendard", sans-serif
}

.allMenu .menuClose {
  position: absolute;
  top: 0;
  right: 0
}

.allMenu .menuClose i {
  color: #333;
  font-size: 2.4rem
}

.allMenu .flexBox {
  gap: 0 6%;
  align-items: center;
  width: 100%;
  height: 100%
}

.allMenu .bg {
  height: 100%;
  flex-shrink: 0;
  transform: translateX(-60px);
  transition: all .6s
}

.allMenu .bg img {
  width: auto;
  height: 100%
}

.allMenu #snb {
  width: 100%;
  padding: 30px 0 0;
  margin: 0 8% 0 0
}

.allMenu #snb>li {
  border-bottom: 1px solid #f0f0f0;
  padding: 36px 0;
  opacity: 0;
  transform: translateY(-40px);
  transition: all .4s;
  display: flex;
  flex-direction: row;
  align-items: center
}

.allMenu #snb>li>a {
  width: 230px;
  color: #333;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: -0.015em
}

.allMenu #snb .depth2 {
  gap: 0 55px;
  display: flex;
  flex-direction: row;
  align-items: center
}

.allMenu #snb .depth2 li a {
  color: #666;
  font-weight: 300;
  position: relative;
  transition: all .4s
}

.allMenu #snb .depth2 li a::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: rgba(0, 80, 142, .1);
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: -2;
  opacity: 0;
  transition: all .4s
}

.allMenu #snb .depth2 li:hover a {
  color: #00508e;
  font-weight: 600
}

.allMenu #snb .depth2 li:hover a::before {
  right: -20px;
  opacity: 1
}

.allMenu.on .bg {
  transform: translateX(0)
}

.allMenu.on #snb>li {
  opacity: 1;
  transform: translateY(0)
}

.allMenu.on #snb>li:nth-child(1) {
  transition-delay: .2s
}

.allMenu.on #snb>li:nth-child(2) {
  transition-delay: .4s
}

.allMenu.on #snb>li:nth-child(3) {
  transition-delay: .6s
}

.allMenu.on #snb>li:nth-child(4) {
  transition-delay: .8s
}

.allMenu.on #snb>li:nth-child(5) {
  transition-delay: 1s
}

.allMenu.on #snb>li:nth-child(6) {
  transition-delay: 1.2s
}

footer {
  background: #f9f9f9;
  padding: 30px 0 45px;
  overflow: inherit !important;
}

footer * {
  letter-spacing: -0.015em
}

footer .top,
footer .bottom {
  display: flex;
  justify-content: space-between
}

footer .top {
  display: flex;
  flex-direction: row;
  align-items: center
}

footer .link {
  display: flex;
  gap: 0 60px
}

footer .link li a {
  color: #666;
  font-size: 1.5rem;
  font-weight: 300
}

footer .familySite {
  width: 150px;
  height: 48px;
  background: #ededed;
  padding: 0 20px;
  position: relative
}

footer .familySite button {
  gap: 0 20px;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

footer .familySite button i {
  font-size: 13px
}

footer .familySite ul {
  width: 100%;
  padding: 10px 20px;
  background: #ddd;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  display: none
}

footer .familySite ul li a {
  display: block;
  color: #333;
  font-size: 1.5rem;
  padding: 10px 0
}

footer hr {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  border: none;
  margin: 20px 0 30px
}

footer h6 {
  color: #444;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 20px
}

footer .info {
  display: grid;
  /* grid-template-columns: repeat(2, auto);
  gap: 12px 42px; */
  grid-template-columns: repeat(1, auto);
  gap: 12px 0;
}

footer .info li {
  font-size: 1.5rem;
  font-weight: 300
}

footer .column {
  align-items: flex-end;
  justify-content: space-between
}

footer .logo {
  width: 205px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center
}

footer .copy {
  color: #999;
  font-size: 1.4rem
}